## Adheesh

Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltS
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, ShuffleSplit
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.metrics import classification_report
import pickle

Importing Data

In [2]:
data1 = pd.read_csv('data/processedData.csv')
data2 = pd.read_csv('data/processedDataOverSampled.csv')
data3 = pd.read_csv('data/processedDataSMOTE.csv')

In [3]:
data1.y.replace(to_replace = ['yes','no'], value = [1,0],inplace = True)

In [4]:
data2.head()

,Unnamed: 0,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y
0,0,5,261,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no
1,1,5,149,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no
2,2,3,226,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no
3,3,3,151,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no
4,4,5,307,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no

In [5]:
data3.head()

,Unnamed: 0,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y
0,0,5,261,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no
1,1,5,149,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no
2,2,3,226,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no
3,3,3,151,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no
4,4,5,307,1,3,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,no

Dropped 'unnamed' column from the dataset.

In [6]:
data1 = data1.drop('Unnamed: 0',axis = 1)
data2 = data2.drop('Unnamed: 0',axis = 1)
data3 = data3.drop('Unnamed: 0',axis = 1)

## KNN model

KNN using Imbalanced data

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, ShuffleSplit, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from scipy.spatial.distance import cdist
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt

In [8]:
print(data1.info())
data1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 59 columns):
age                              41188 non-null int64
duration                         41188 non-null int64
campaign                         41188 non-null int64
pdays                            41188 non-null int64
previous                         41188 non-null int64
emp.var.rate                     41188 non-null float64
cons.price.idx                   41188 non-null float64
cons.conf.idx                    41188 non-null float64
euribor3m                        41188 non-null float64
nr.employed                      41188 non-null float64
y                                41188 non-null int64
job_admin.                       41188 non-null int64
job_blue-collar                  41188 non-null int64
job_entrepreneur                 41188 non-null int64
job_housemaid                    41188 non-null int64
job_management                   41188 non-null int64
job_retired                      41188 non-null int64
job_self-employed                41188 non-null int64
job_services                     41188 non-null int64
job_student                      41188 non-null int64
job_technician                   41188 non-null int64
job_unemployed                   41188 non-null int64
marital_divorced                 41188 non-null int64
marital_married                  41188 non-null int64
marital_single                   41188 non-null int64
education_basic.4y               41188 non-null int64
education_basic.6y               41188 non-null int64
education_basic.9y               41188 non-null int64
education_high.school            41188 non-null int64
education_illiterate             41188 non-null int64
education_professional.course    41188 non-null int64
education_university.degree      41188 non-null int64
default_no                       41188 non-null int64
default_unknown                  41188 non-null int64
default_yes                      41188 non-null int64
housing_no                       41188 non-null int64
housing_yes                      41188 non-null int64
loan_no                          41188 non-null int64
loan_yes                         41188 non-null int64
contact_cellular                 41188 non-null int64
contact_telephone                41188 non-null int64
month_apr                        41188 non-null int64
month_aug                        41188 non-null int64
month_dec                        41188 non-null int64
month_jul                        41188 non-null int64
month_jun                        41188 non-null int64
month_mar                        41188 non-null int64
month_may                        41188 non-null int64
month_nov                        41188 non-null int64
month_oct                        41188 non-null int64
month_sep                        41188 non-null int64
day_of_week_fri                  41188 non-null int64
day_of_week_mon                  41188 non-null int64
day_of_week_thu                  41188 non-null int64
day_of_week_tue                  41188 non-null int64
day_of_week_wed                  41188 non-null int64
poutcome_failure                 41188 non-null int64
poutcome_nonexistent             41188 non-null int64
poutcome_success                 41188 non-null int64
dtypes: float64(5), int64(54)
memory usage: 18.5 MB
None

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,5,261,1,3,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
1,5,149,1,3,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
2,3,226,1,3,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
3,3,151,1,3,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
4,5,307,1,3,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0

KNN without standardisation using Imbalanced data

In [9]:
X = data1.drop('y', axis = 1)
y = data1['y']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=16)
classifier = KNeighborsClassifier()
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [11]:
y_pred = classifier.predict(X_test)
print(f"Accuracy: {round(metrics.accuracy_score(y_test, y_pred)*100, 2)}%")

Accuracy: 89.8%

In [12]:
df_confusion = pd.crosstab(y_test, y_pred)
df_confusion

col_0      0    1
y
0      10452  482
1        778  645

In [13]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.96      0.94     10934
           1       0.57      0.45      0.51      1423

    accuracy                           0.90     12357
   macro avg       0.75      0.70      0.72     12357
weighted avg       0.89      0.90      0.89     12357

In [14]:
print(f"Balanced Accuracy: {round(metrics.balanced_accuracy_score(y_test, y_pred)*100, 2)}%")

Balanced Accuracy: 70.46%

KNN With Standardization using imbalanced data

In [15]:
from sklearn.preprocessing import StandardScaler
knn_pipe = make_pipeline(StandardScaler(), KNeighborsClassifier())
knn_pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('kneighborsclassifier',
                 KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                      metric='minkowski', metric_params=None,
                                      n_jobs=None, n_neighbors=5, p=2,
                                      weights='uniform'))],
         verbose=False)

In [16]:
pipe_pred = knn_pipe.predict(X_test)
pd.Series(pipe_pred).value_counts()
print(f"Accuracy: {round(metrics.accuracy_score(y_test, pipe_pred)*100, 2)}%")

Accuracy: 89.36%

In [17]:
print(classification_report(y_test,pipe_pred))

              precision    recall  f1-score   support

           0       0.91      0.97      0.94     10934
           1       0.57      0.30      0.39      1423

    accuracy                           0.89     12357
   macro avg       0.74      0.64      0.67     12357
weighted avg       0.87      0.89      0.88     12357

In [18]:
print(f"Balanced Accuracy: {round(metrics.balanced_accuracy_score(y_test, pipe_pred)*100, 2)}%")

Balanced Accuracy: 63.61%

In [19]:
cv = ShuffleSplit(n_splits= 10, test_size=0.3, random_state=16)
cross_val_score(knn_pipe, X_train, y_train, cv=cv, n_jobs = -1).mean()

0.8953179190751446

### Simulating for k

In [ ]:
accuracy1 = []
K = range(1,100,4)

for k in K:
    knn_pipe = make_pipeline(StandardScaler(), KNeighborsClassifier(n_neighbors = k, p =2))
    knn_pipe.fit(X_train, y_train)
    pipe_pred = knn_pipe.predict(X_test)
    accuracy1.append(round(metrics.accuracy_score(y_test, pipe_pred)*100, 2))

plt.plot(K, accuracy1)
plt.xlabel('k')
plt.ylabel('accuracy')
plt.title('plot for accuracy and k ')
plt.show()

KNN using Oversampling data

KNN without Standardisation using oversampled data

In [ ]:
X1 = data2.drop('y', axis = 1)
y1 = data2['y']

In [ ]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.3, random_state=16)
classifier1 = KNeighborsClassifier()
classifier1.fit(X_train1, y_train1)

In [ ]:
y_pred1 = classifier.predict(X_test1)
print(f"Accuracy: {round(metrics.accuracy_score(y_test1, y_pred1)*100, 2)}%")

In [ ]:
print(classification_report(y_test1,y_pred1))

KNN with Standardization using oversampled data

In [ ]:
classifier_std1 = KNeighborsClassifier()

In [ ]:
from sklearn.preprocessing import StandardScaler
knn_pipe1 = make_pipeline(StandardScaler(), KNeighborsClassifier())
knn_pipe1.fit(X_train1, y_train1)

In [ ]:
pipe_pred1 = knn_pipe1.predict(X_test1)
pd.Series(pipe_pred1).value_counts()
print(f"Accuracy: {round(metrics.accuracy_score(y_test1, pipe_pred1)*100, 2)}%")

In [ ]:
cv = ShuffleSplit(n_splits= 10, test_size=0.3, random_state=16)
cross_val_score(knn_pipe1, X_train1, y_train1, cv=cv, n_jobs = -1).mean()

In [ ]:
print(classification_report(y_test1,pipe_pred1))

KNN using SMOTE data

In [ ]:
X = data1.drop('y', axis=1)
y = data1['y']

X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.2, random_state=16)
print(X_train.shape)
print(y_train.shape)

In [ ]:
y_train

In [ ]:
from imblearn.over_sampling import RandomOverSampler, SMOTE

sm = SMOTE(random_state=0)
X_SMOTE, y_SMOTE = sm.fit_resample(X_train, y_train)
pd.Series(y_SMOTE).value_counts()
X_SMOTE['y']=y_SMOTE

In [ ]:
y_SMOTE

In [ ]:
X_SMOTE = X_SMOTE.drop('y', axis = 1)

KNN with standardisation using SMOTE data

In [ ]:
scaler = StandardScaler()
scaler.fit(X_SMOTE)

X_train_std = scaler.transform(X_SMOTE)
X_test_std = scaler.transform(X_test)

In [ ]:
knn = KNeighborsClassifier()

In [ ]:
knn.fit(X_train_std,y_SMOTE)

In [ ]:
knn_smote_pred = knn.predict(X_test_std)

In [ ]:
print(confusion_matrix(y_test,knn_smote_pred))
print(classification_report(y_test,knn_smote_pred))

In [ ]:
print(f"Balanced Accuracy: {round(metrics.balanced_accuracy_score(y_test, knn_smote_pred)*100, 2)}%")

KNN without Standardisation using SMOTE data

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 15)

In [ ]:
knn_fit = knn.fit(X_SMOTE,y_SMOTE)

In [ ]:
pkl_filename = 'KNN_model3.pkl'
with open (pkl_filename,'wb') as file:
    pickle.dump(knn_fit,file)

In [ ]:
X_test.shape

In [ ]:
knn_smote_pred1 = knn.predict(X_test)
print(confusion_matrix(y_test,knn_smote_pred1))
print(classification_report(y_test,knn_smote_pred1))

In [ ]:
print(f"Balanced Accuracy: {round(metrics.balanced_accuracy_score(y_test, knn_smote_pred1)*100, 2)}%")

# SVM

SVM using imbalanced data

In [ ]:
X = data1.drop('y', axis=1)
y = data1['y']

X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.2, random_state=16)
print(X_train.shape)
print(y_train.shape)

In [ ]:
scaler.fit(X_train)
X_train_std = scaler.transform(X_train)
X_test_std = scaler.transform(X_test)

In [ ]:
import pandas as pd 
import numpy as np 
from sklearn.metrics import classification_report, confusion_matrix 
from sklearn.svm import SVC
from sklearn import svm
from sklearn.model_selection import ShuffleSplit

SVM with RBF for imbalanced data

In [ ]:
param_grid1 = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001],'kernel': ['rbf']}

grid = GridSearchCV(SVC(),param_grid1,refit=True,verbose=2, n_jobs = -1)
grid.fit(X_train_std,y_train)

In [ ]:
print(grid.best_estimator_)

In [ ]:
grid_predictions = grid.predict(X_test_std)
print(confusion_matrix(y_test,grid_predictions))
print(classification_report(y_test,grid_predictions))

In [ ]:
print(f"Balanced Accuracy: {round(metrics.balanced_accuracy_score(y_test, grid_predictions)*100, 2)}%")

SVM LINEAR for imbalanced data

In [ ]:
clf = SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='linear', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False)

In [ ]:
clf.fit(X_train_std,y_train)

In [ ]:
linear_imbalanced_pred = clf.predict(X_test_std)

In [ ]:
print(confusion_matrix(y_test,linear_imbalanced_pred))
print(classification_report(y_test,linear_imbalanced_pred))

In [ ]:
print(f"Balanced Accuracy: {round(metrics.balanced_accuracy_score(y_test, linear_imbalanced_pred)*100, 2)}%")

SVM using SMOTE data

SVM (linear kernel) for SMOTE data

In [ ]:
X = data1.drop('y', axis=1)
y = data1['y']

X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.2, random_state=16)
print(X_train.shape)
print(y_train.shape)

In [ ]:
pip install -U imbalanced-learn

In [ ]:
## SMOTE transformation on train data 

from imblearn.over_sampling import RandomOverSampler, SMOTE

sm = SMOTE(random_state=0)
X_SMOTE, y_SMOTE = sm.fit_resample(X_train, y_train)
pd.Series(y_SMOTE).value_counts()


X_SMOTE['y']=y_SMOTE


X_SMOTE

In [ ]:
X_SMOTE = X_SMOTE.drop('y', axis = 1)

In [ ]:
scaler = StandardScaler()
scaler.fit(X_SMOTE)

X_train_std = scaler.transform(X_SMOTE)
X_test_std = scaler.transform(X_test)

In [ ]:
bs = ShuffleSplit(n_splits=5,test_size=0.3,random_state=0)
param_grid = {'C':[0.1,1, 10, 100]}

grid1 = GridSearchCV(SVC(kernel = 'linear'),param_grid,refit=True,verbose=2, cv = bs, n_jobs = -1)
grid1.fit(X_train_std,y_SMOTE)

In [ ]:
print(grid1.best_estimator_)

In [ ]:
grid_predictions1 = grid1.predict(X_test_std)
print(confusion_matrix(y_test,grid_predictions1))
print(classification_report(y_test,grid_predictions1))

In [ ]:
print(f"Balanced Accuracy: {round(metrics.balanced_accuracy_score(y_test, grid_predictions1)*100, 2)}%")

SVM RBF SMOTE

In [ ]:
model = SVC(C=10, cache_size = 200, kernel = 'rbf', gamma = 0.01)

In [ ]:
model.fit(X_train_std,y_SMOTE)

In [ ]:
rbf_pred = model.predict(X_test_std)

In [ ]:
print(confusion_matrix(y_test,rbf_pred))
print(classification_report(y_test,rbf_pred))

In [ ]:
print(f"Balanced Accuracy: {round(metrics.balanced_accuracy_score(y_test, rbf_pred)*100, 2)}%")